# Semana 05
Mg. Flor Elizabeth Cerdán León

Temas:

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

Manejo de Cadenas

In [2]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [3]:
#Universidad Nacional Tecnologica de Lima Sur
#01234.......                          -3-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
# TAmbien considera los espacios
cadena[11]

' '

In [7]:
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [9]:
cadena[-23]

'T'

In [10]:
# Para mostrar una subcadena [desde, hasta una antes]
# En java era substring()
cadena[3:8]

'versi'

In [11]:
# Para saber el tamaño de una cadena utilizamos len()
# incluye espacios en blanco
len(cadena)

44

In [12]:
# Para mostrar una cadena en mayúscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [13]:
# OJITO:.......... sOLO LO MUESTRA, PORQUE EL ORIGINAL SIGUE SIENDO IGUAL
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [14]:
# Si desearas cambiarlo harías:
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [15]:
# Para mostrar una cadena en minúsculas utilizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [16]:
# Para generar una lista a partir de una cadena utilizamos split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [17]:
# Para generar una lista utilizando un criterio de separación a partir de una cadena split()
# en este caso vamos a generar una lista de toda la cadena, utilizando como criterio de separación la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [18]:
# Forma clásica, concatenar con +
nombre = " Flor Cerdán"
print("Buenos días " + nombre)

Buenos días  Flor Cerdán

In [19]:
# Utilzando el .format()
nombre = "Pablo Lévano"
edad = 12
print("Hola {} ya se que tienes {} años".format(nombre, edad))

Hola Pablo Lévano ya se que tienes 12 años

In [21]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {}" .format(resultado))
print("10/3 es = {r:1.3f} ".format(r = resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [23]:
# Dar formato con f
# la función f, está disponible desde la versión 3.6
nombre = "Daneli Lévano"
edad = 10
print(f"Buenos días {nombre}, ya sé que tienes {edad} años")

Buenos días Daneli Lévano, ya sé que tienes 10 años

In [26]:
# Dar formato a números con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333