# Semana 05
Mg. Flor Elizabeth Cerdán León

Temas:

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de Datos por teclado
5. Operadores

2. Variables

In [3]:
#Siempre deben iniciar con una letra o un guión abajo.(Nunca con un número u otro símbolo)

In [4]:
edad=41
edad

41

In [5]:
nombre = "Flor"
nombre

'Flor'

In [6]:
apellido = "Cerdán León"
apellido

'Cerdán León'

In [7]:
nombrecompleto = nombre + apellido
nombrecompleto

'FlorCerdán León'

In [8]:
nombrecompleto = nombre + " " + apellido

In [10]:
nombrecompleto

'Flor Cerdán León'

In [11]:
# Para saber el tipo de variable utilizamos la función type()
# Por Ejemplo:

In [12]:
numero = 50
type(numero)

int

In [13]:
type(nombre)

str

In [14]:
talla = 1.68
talla

1.68

In [15]:
type(talla)

float

In [17]:
# Para convertir un número en cadena utilizamos la función str()
numero = 100
cadena = str(numero)
cadena

'100'

In [18]:
type(cadena)

str

In [20]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
cadena2

'50'

In [21]:
type(numero2)

int

In [22]:
# Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [23]:
type(numero2)

float