# Semana 05
Mg. Flor Elizabeth Cerdán León

Temas

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [3]:
# 5.1 Operadores Aritméticos
# Se tiene: +,-, *, /,%, **,//

In [4]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicación = numero1 * numero2
división = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(multiplicación)
print(división)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [5]:
# 5.2 Operadores de asignación
# Se tiene: =,+=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [6]:
# La operación anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [7]:
# Ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [8]:
# La operación anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [9]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >,<=,>=,

In [10]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [11]:
# Con las cadenas funciona igual
nombre1 = "Frank"
nombre2 = "Frank"
nombre1 == nombre2

True

In [12]:
# 5.4 Operadores Lógicos
# Se tiene:  and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [13]:
numero1 < numero2

True

In [14]:
# el Not invierte el resultado
not(numero1<numero2)

False

In [15]:
numero1<numero2 and numero3<numero4

True

In [16]:
# Tambien puedes utilizar paraentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [17]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [18]:
# Ejemplo:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [19]:
# ¿Diego está en aula?
alumno1 in aula

False

In [20]:
# ¿ Juan está en aula?
alumno2 in aula

True

In [21]:
# ¿ Diego no está en aula?
alumno1 not in aula

True

In [22]:
# ¿ Juan no está en aula?
alumno2 not in aula

False

In [23]:
# 5.6 Operadores de Identidad
# Se tiene: is, is not

In [24]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"] 
#  A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [25]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [26]:
# aula3 comparte el mismo objeto que aula2?
aula3  is aula2

False

In [27]:
# aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [28]:
aula1.append("Diego")

In [29]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [30]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [31]:
print(aula2)

['Juan', 'Daniel', 'Ruben']